.header_wrapper {
  position: fixed;
  // background-color: transparent;
  background: url("../public/images/header_back.png");
  padding: 15px;
  width: 100%;
  z-index: 10;
  max-width: 100%;
  @media all and (max-width: 768px) {
    display: none;
  }
  .nav_wrapper {
    align-items: center;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    width: 100%;
    max-width: 100%;
    @media all and (max-width: 992px) {
      grid-template-columns: 37% 25% 37%;
    }
    .left_box {
      ul {
        display: flex;
        padding-left: 0;
        width: 100%;
        align-items: center;
        li {
          @media all and (max-width: 992px) {
            margin-left: 0;
            font-size: 14px;
          }
          color: #fff;
          list-style: none;
          margin-right: 10px;
          display: flex;
          align-items: center;
          position: relative;
        }
      }
      .retail_parent {
        &:hover .retail_links {
          // top: 20px !important;
          opacity: 1;
          visibility: visible;
        }
      }
      .retail_links {
        top: 10px;
        transition: 0.4s ease-out;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        display: block;
        padding: 10px;
        background: #202123;
        border: 1px solid #4b4b4b;
        border-radius: 5px;
        width: 150%;
        margin-top: 20px;

        li {
          transition: 0.3s ease;
          padding: 8px 0;
          &:hover {
            padding-left: 5px;
            a {
              color: #fff;
              font-weight: 600;
              svg {
                color: #ff9600;
              }
            }
          }
          a {
            display: flex;
            align-items: center;
            svg {
              margin-right: 10px;
            }
          }
        }
      }
    }
    .center_box {
      display: flex;
      justify-content: center;
    }
    .right_box {
      width: 100%;
      ul {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        padding-left: 0;
        li {
          @media all and (max-width: 992px) {
            font-size: 14px;
            margin-left: 0;
            margin-right: 7px;
          }
          color: #fff;
          list-style: none;
          margin-left: 40px;
          display: flex;
          align-items: center;
        }
        .phone_icon {
          svg {
            margin-right: 5px;
          }
        }
        .account_icon {
          svg {
            margin-right: 5px;
          }
        }
        select {
          margin-left: 20px;
        }
        .ant-select {
          background-color: transparent;
          margin-left: 30px;
          .ant-select-arrow {
            color: #fff;
          }
          .ant-select-selector {
            background-color: transparent !important;
            border: none;
            color: #fff;
            .ant-select-arrow {
              color: #fff !important;
            }
          }
        }
      }
    }
  }
}
.HomeMain {
  .homemain_wrapper {
    background: url("../public/images/header.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    .child_wrapper {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 420px) {
        padding-top: 130px;
        h1 {
          font-size: 25px !important;
        }
        p {
          font-size: 16px !important;
          max-width: 100% !important;
        }
      }
      .search_product {
        @media all and (max-width: 992px) {
          max-width: 90%;
        }
        .entrance {
          color: #fff;
          text-align: center;
          h1 {
            font-size: 42px;
            color: #fff;
          }
          p {
            font-size: 20px;
            max-width: 70%;
            margin: 20px auto;
          }
        }
        .search_form {
          display: flex;
          justify-content: center;
          margin: 60px 0;

          .how_purpose {
            @media (max-width: 768px) {
              border-left: none;
            }
            padding: 10px;
            border-left: 1px solid rgb(102, 102, 102);
            .ant-select-open {
              outline: 0 !important;
              border: none !important;
            }
            .ant-select-focused {
              outline: 0 !important;
              border: none !important;
            }
            .ant-select-focused .ant-select-selector,
            .ant-select-selector:focus,
            .ant-select-selector:active,
            .ant-select-open .ant-select-selector {
              border-color: #d9d9d9 !important;
              box-shadow: none !important;
            }
            .ant-select {
              width: 200px;
              background-color: transparent;
              &:focus {
                outline: 0;
                border: none;
              }

              .ant-select-arrow {
                color: #fff;
              }
              .ant-select-selector {
                border: none;
                color: #fff;
                background-color: transparent !important;
                color: #fff;
                &:focus {
                  outline: 0;
                }
              }
            }
          }
          .which_countries {
            @media (max-width: 768px) {
              border-left: none;
            }
            padding: 10px;
            border: none;
            border-left: 1px solid rgb(102, 102, 102);
            .ant-select {
              @media (max-width: 768px) {
                width: 200px;
              }
              width: 170px;
              background-color: transparent;
              &:focus {
                outline: 0;
                border: none;
              }

              .ant-select-arrow {
                color: #fff;
              }
              .ant-select-selector {
                border: none;
                color: #fff;
                background-color: transparent !important;
                color: #fff;
                &:focus {
                  outline: 0;
                }
              }
            }
            .ant-select-item {
              background-color: #202123 !important;
            }

            .ant-select-focused .ant-select-selector,
            .ant-select-selector:focus,
            .ant-select-selector:active,
            .ant-select-open .ant-select-selector {
              border-color: #d9d9d9 !important;
              box-shadow: none !important;
              background: #202123 !important;
            }
          }
          .form_wrap {
            display: flex;
            background: #202123;
            border-radius: 5px;
            border: 1px solid #4b4b4b;
            flex-wrap: wrap;
            // @media all and (max-width: 768px) {
            //   display: block;
            //   .mycol_input input {
            //     width: auto;
            //   }
          }
          .mycol_input {
            padding: 5px;
            input {
              @media all and (max-width: 992px) {
                width: 220px;
              }
              @media (max-width: 768px) {
                width: 320px;
              }
              width: 500px;
              background-color: #202123;
              padding: 10px;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              transition: 0.3s ease;
              border: none;
              color: #fff;
              &::placeholder {
                color: #fff;
              }
              &:focus {
                outline: none;
                // border: 1px solid #fff;
              }
            }
          }

          .submit_form {
            @media (max-width: 768px) {
              margin-left: auto;
            }
            input {
              &:hover {
                cursor: pointer;
              }
              height: 100%;
              border: none;
              background: #ff9600;
              width: 100px;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.SmallServices {
  margin-top: -20px;
  .small_wrapper {
    @media all and (max-width: 800px) {
      display: block;
    }
    display: flex;
    justify-content: space-around;
    background: #f7f7f7;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    .mycol {
      @media all and (max-width: 992px) {
        padding: 5px;
      }
      @media (max-width: 768px) {
        padding: 20px;
      }
      padding: 10px;
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
        object-fit: contain;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
.Orders {
  padding: 30px 0;
  .intro {
    @media (max-width: 768px) {
      h1 {
        font-size: 22px !important;
      }
      span {
        font-size: 14px !important;
      }
    }
    h1 {
      font-size: 36px;
      span {
        font-size: 20px;
      }
    }
  }
  .orders_wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    @media all and (max-width: 768px) {
      display: block;
    }
    .orders_id {
      @media (max-width: 768px) {
        max-width: 100%;
      }
      max-width: 90%;
      .old_order {
        margin: 20px 0;
        padding: 10px 20px;
        background: #ffffff;
        /* тень Дмитрий */

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        .head_sec {
          display: grid;
          grid-template-columns: 90% 10%;
          align-items: center;
          width: 100%;
          // @media all and (max-width: 768px) {
          //   display: block !important;
          // }
          ul {
            display: flex;
            padding-left: 0;
            align-items: center;
            justify-content: flex-start;
            @media all and (max-width: 768px) {
              display: block;
            }
            .prod_status {
              @media all and (max-width: 768px) {
                p {
                  margin-left: 0;
                }
              }
              margin-left: 0;
              .new {
                padding: 5px 7px;
                border-radius: 5px;
                background-color: #2eae7d;
                color: #fff;
              }
              .cancelled {
                padding: 5px 7px;
                background: #ea6435;
                border-radius: 3px;
                color: #fff;
              }
              .matching {
                padding: 5px 7px;
                background: #ff9600;
                border-radius: 3px;
                color: #fff;
              }
            }
            li {
              @media all and (max-width: 768px) {
                margin: 10px 0;
                svg {
                  margin-right: 5px;
                }
              }
              margin: 0 10px;
              list-style: none;
              display: flex;
              align-items: center;
              p {
                margin-bottom: 0;
                color: #7e7e7e;
                display: flex;
                align-items: center;
              }
            }
          }
          .right_box {
            display: flex;
            justify-content: flex-end;
            @media all and (max-width: 768px) {
              display: block;
            }
            p {
              color: #7e7e7e;
            }
          }
        }
        .product_features {
          p {
            font-size: 18px;
          }
          b,
          br {
            margin: 15px 0;
          }
        }
        a {
          @media all and (max-width: 768px) {
            display: block;
          }
          display: grid;
          grid-template-columns: 70% 30%;
          .tsena {
            @media all and (max-width: 768px) {
              text-align: left;
            }
            text-align: right;
            color: #494949 !important;
            h1 {
              span {
                font-size: 16px;
              }
            }
            p {
              margin-left: auto;
            }
          }
        }
        .bottom_sec {
          @media all and (max-width: 768px) {
            display: block;
          }
          display: flex;
          width: 100%;
          align-items: center;
          color: #808080;
          .sipped {
            margin-left: auto;
            margin-right: 0;
          }
          p {
            display: flex;
            align-items: center;
            margin-right: 15px;
            svg {
              margin-right: 5px;
            }
            b {
              margin-left: 5px;
            }
          }
        }
      }
    }
    .how_it_work {
      @media (max-width: 768px) {
        padding: 40px 0;
      }
      .steps_wrapper {
        @media (max-width: 768px) {
          margin-left: 0;
        }
        margin-left: 5%;
        .steps {
          display: flex;
          margin: 50px 0;
          &:hover {
            cursor: pointer;
          }
          &:hover .number {
            background-color: #fff;
            border: 1px solid #ff9600;
            h2 {
              color: #ff9600;
            }
          }
          @media (max-width: 768px) {
            align-items: center;
          }
          .number {
            @media (max-width: 768px) {
              height: 60px;
              align-items: center;
            }
            border: 1px solid #ff9600;
            transition: 0.2s ease;
            width: 120px;
            height: 75px;
            border-radius: 50%;
            background-color: #ff9600;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
              @media (max-width: 768px) {
                font-size: 30px;
              }
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-size: 36px;
              margin-bottom: 0;
            }
          }
          .about_step {
            margin-left: 15px;
            h3 {
              margin-top: 0;
            }
            p {
              color: #5a5a5a;
            }
          }
        }
      }
      .find_client {
        background: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 30px 50px !important;
        @media (max-width: 768px) {
          padding: 30px 20px !important;
        }
        .find_expoter {
          margin: 30px 0;
          p {
            a {
              background-color: #ff9600;
              padding: 8px;
              color: #fff !important;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .all_products {
      @media (max-width: 768px) {
        max-width: 100%;
      }
      text-align: center;
      background-color: #2eae7d;
      color: #fff;
      padding: 8px;
      border-radius: 5px;
      max-width: 35%;
      margin: 0 auto;
    }
  }
}
.Retail {
  .retail_products {
    display: grid;
    grid-template-columns: 84% 16%;
    margin: 50px 0;
    @media all and (max-width: 768px) {
      display: block;
    }
    .retail_prod_wrapper {
      @media all and (max-width: 768px) {
        display: block;
      }
      display: flex;
      // justify-content: space-around;
      .product_wrap {
        @media (max-width: 768px) {
          width: 100%;
          margin: 30px 0;
        }
        width: 22%;
        margin-right: 30px;
        // flex-wrap: wrap;
        padding: 15px;
        background: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
        // white-space: nowrap;
        min-width: 0;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        .prod_image {
          img {
            width: 100%;
          }
        }
        .top_wrap {
          display: flex;
          align-items: center;
          p {
            display: flex;
            align-items: center;
            &:nth-child(1) {
              color: #2eae7d;
            }
            &:nth-child(2) {
              margin-left: auto;
              color: #5a5a5a;
            }
          }
        }
        .prod_price {
          display: flex;
          align-items: center;
          h2 {
            span {
              font-size: 16px;
              font-weight: 400;
            }
          }
          s {
            color: #ee5c2a;
          }
          h4 {
            span {
              font-size: 14px;
              font-weight: 400;
              margin-left: 10px;
            }
          }
          .discount {
            margin-left: auto;
            padding: 10px;
            background-color: #ee5c2a;
            border-radius: 5px;
            color: #fff;
          }
        }
        .prod_about {
          h4,
          p {
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
    .click_retail {
      background: #808080;
      width: 100%;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
    }
  }
}
.Wholesale {
  .retail_products {
    display: grid;
    grid-template-columns: 84% 16%;
    margin: 50px 0;
    @media all and (max-width: 768px) {
      display: block;
    }
    .retail_prod_wrapper {
      display: flex;
      // justify-content: space-around;
      @media all and (max-width: 768px) {
        display: block;
      }
      .product_wrap {
        @media all and (max-width: 992px) {
          width: 25%;
          margin-right: 10px;
        }
        @media (max-width: 768px) {
          width: 100%;
          margin: 30px 0;
        }
        width: 22%;
        margin-right: 30px;
        padding: 15px;
        background: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        .prod_image {
          img {
            width: 100%;
          }
        }
        .top_wrap {
          display: flex;
          align-items: center;
          p {
            display: flex;
            align-items: center;
            &:nth-child(1) {
              color: #2eae7d;
            }
            &:nth-child(2) {
              margin-left: auto;
              color: #5a5a5a;
            }
          }
        }
        .prod_price {
          display: flex;
          align-items: center;
          @media all and (max-width: 992px) {
            h2 {
              font-size: 18px;
            }
          }
          h2 {
            span {
              font-size: 16px;
              font-weight: 400;
            }
          }
          s {
            color: #ee5c2a;
          }
          h4 {
            span {
              font-size: 14px;
              font-weight: 400;
              margin-left: 10px;
            }
          }
          .discount {
            margin-left: auto;
            padding: 10px;
            background-color: #ee5c2a;
            border-radius: 5px;
            color: #fff;
          }
        }
        .prod_about {
          h4,
          p {
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
    .click_retail {
      background: #808080;
      width: 100%;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
    }
  }
}
.for_back_wholesale {
  background: url("../public/images/main_background.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  .content__this {
    background-color: #202123af;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    &:hover {
      h2 {
        color: #ff9600;
      }
    }
    h2 {
      color: #fff;
      transition: 0.3s ease;
    }
  }
}
.Advanteges {
  .intro {
    p {
      @media (max-width: 768px) {
        max-width: 90%;
      }
      max-width: 50%;
    }
  }
  .advantages_wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 60px 0;
    @media all and (max-width: 768px) {
      display: block;
    }
    .mycol {
      @media (max-width: 768px) {
        .left {
          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }
      display: flex;
      width: 90%;
      align-items: center;
      .right {
        margin-left: 15px;
      }
    }
  }
}
.Join {
  // height: 80vh;
  background: url("../public/images/main_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .join_wrapper {
    // height: 80vh;
    background: linear-gradient(to right, #21212bbe, #474566bd, #514967bd);
    display: flex;
    .howstart {
      display: grid;
      grid-template-columns: 60% 40%;
      @media all and (max-width: 768px) {
        display: block;
      }
    }
    .left {
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        padding: 50px 0;
        h1 {
          font-size: 36px !important;
        }
        p {
          font-size: 20px !important;
          max-width: 100% !important;
        }
      }
      h1 {
        max-width: 90%;
        font-weight: 700;
        font-size: 55px;
        line-height: 110%;
        /* or 61px */

        text-transform: uppercase;

        color: #ffffff;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 110%;
        /* or 33px */
        max-width: 60%;
        color: #ffffff;
      }
    }
    .right {
      @media (max-width: 768px) {
        max-width: 100%;
      }
      padding: 30px;
      background-color: #fff;
      max-width: 85%;
      .required_fileds {
        p span {
          color: #ee5c2a;
        }
        input {
          padding: 12px 5px;
          background-color: #eaf0fd;
          border-radius: 5px;
          border: 1px solid #f7f7f7;
          width: 100%;
          &:focus {
            outline: 0;
          }
        }
      }
      .cases {
        display: flex;
        align-items: center;
        p {
          &:nth-child(2) {
            margin-left: auto;
          }
        }
      }
      .submit_form {
        input {
          background: #f08540;
          border-radius: 4px;
          width: 100%;
          border: none;
          padding: 15px 0;
          color: #fff;
          font-size: 20px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .another_types {
        p {
          text-align: center;
        }
        .types {
          @media (max-width: 768px) {
            text-align: center;
            img {
              margin: 15px 0 !important;
            }
          }
        }
        img {
          object-fit: contain;
          &:nth-child(2) {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
.Services {
  @media (max-width: 768px) {
    margin: 40px 0;
  }
  margin: 80px 0;
  .services_wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    @media all and (max-width: 768px) {
      display: block;
    }
    .left,
    .right {
      @media (max-width: 768px) {
        margin: 20px 0;
      }
      width: 98%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
.News {
  .intro {
    display: flex;
    align-items: center;
    p {
      margin-left: auto;
      a {
        @media (max-width: 768px) {
          span {
            display: none;
          }
        }
        display: flex;
        align-items: center;
        svg {
          margin-left: 5px;
        }
      }
    }
  }
  .news_wrapper {
    margin: 40px 0;
    display: flex;
    @media all and (max-width: 768px) {
      display: block;
    }
    .mycol {
      @media (max-width: 768px) {
        width: 100%;
        margin: 30px 0;
      }
      width: 20%;
      margin-right: 20px;
      background: #f5f7fa;
      /* Light Colors/Platinum */
      border: 1px solid #eaecee;
      border-radius: 0px 0px 8px 8px;
      .about {
        padding: 8px;
        h4 {
          margin-top: 5px;
        }
      }
      img {
        width: 100%;
      }
      .read_more {
        text-align: center;
        width: 100%;
        padding: 10px 20px;
        border: 2px solid #729bc4;
        border-radius: 5px;
        font-size: 18px;
        background-color: transparent;
      }
    }
  }
}
.Footer {
  padding: 40px;
  background: url("../public/images/bg_footer.png");
  color: #f6f8fb;
  background-repeat: no-repeat;
  background-size: cover;
  .footer_wrapper {
    display: grid;
    grid-template-columns: 25% 20% 20% 20% 20%;
    border-bottom: 1px solid #808080;
    padding-bottom: 40px;
    @media all and (max-width: 768px) {
      display: block;
    }
    .subscribe_mail {
      form {
        .agreements {
          display: flex;
          align-items: center;
          input {
            margin-right: 5px;
          }
        }
        .mail_filed {
          input {
            background: #ffffff;
            border-radius: 5px;
            border: none;
            padding: 10px;
            color: #202123;
            width: 95%;
            &:focus {
              outline: 0;
            }
          }
        }
        .subscribe_button {
          input {
            background: rgba(255, 150, 0, 0.72);
            border-radius: 5px;
            border: none;
            color: #fff;
            padding: 10px;
            font-size: 18px;
            width: 95%;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      h3 {
        color: #f6f8fb;
        font-size: 20px;
      }
    }
    .mycol {
      display: flex;
      // justify-content: center;
      padding-left: 30px;
      h3 {
        color: #f6f8fb;
        font-size: 20px;
      }
      ul {
        padding-left: 0;
        li {
          list-style: none;
          margin: 8px 0;
          transition: 0.3s ease;
          &:hover {
            padding-left: 5px;
          }
        }
      }
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    .company {
      h4 {
        color: #fff;
        margin-bottom: 0;
      }
    }
    .socials {
      margin-top: 10px;

      margin-left: auto;
      ul {
        display: flex;
        padding-left: 0;
        li {
          list-style: none;
          margin-right: 15px;
        }
      }
    }
  }
}
.ant-select-dropdown {
  margin-top: 10px;
  background: #202123 !important;
  border-radius: 5px;
  color: #fff !important;
  .ant-select-item {
    color: #fff !important;
    &:active {
      background-color: #202123 !important;
    }
    &:hover {
      background-color: #202123 !important;
    }
  }
}
.ant-select-item-option-selected {
  background-color: #202123 !important;
}
