/* Font */
@import url("http://fonts.cdnfonts.com/css/sf-pro-display");
html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: "SF Pro Display", sans-serif !important;
  background-color: #eff2f6 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
.containerdev {
  position: relative !important;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .containerdev {
    width: 850px;
  }
}
@media (min-width: 992px) {
  .containerdev {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .containerdev {
    width: 1400px;
  }
  /* @media (min-width: 1250px) {
    .containerdev {
      width: 1200px;
    }
  } */
}
* {
  box-sizing: border-box !important;
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #202123 !important;
}
